/* src/components/Header.css */

  .header {
    background-color: #e7e7e7; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    border-bottom: 2px solid #ccc;
    position: relative;
    border: none;
  }

  .header-logo {
    height: 5vw;
    margin-left: 2vw;
  }

  .header-logo:hover{
    cursor: pointer;
  }
  
  .header-title {
    font-size: 2vw;
    font-weight: normal;
    color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  