/* src/components/Add-Investment/AddInvestment.css */

.add-investment-page {
    padding: 2vw;
    background-color: #fff;
    text-align: center;
}

/* button option section */
.button-section {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
    margin-left: 0;
}

.dashboard-button {
    width: 13.5vw;
    height: 2.7vw;
    font-size: 1.05vw;
    background-color: #e7e7e7;
    border: none;
    color: #c2b261;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0.2vw;
    font-weight: bold;
}

.dashboard-button:hover {
    background-color: rgba(209, 209, 209, 0.757);
}

/* form container */
.add-investment-container {
    margin: 0 auto;
    margin-top: 5vw;
    max-width: 50vw;
    background-color: #f1f1f1;
    padding: 3vw;
    border-radius: 0.5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInSlideUp 0.6s ease-out;
}

.add-investment-title {
    font-size: 2vw;
    color: #91b44b;
    margin-bottom: 2vw;
    font-weight: bold;
    margin-top: -1vw;
}

.form-container {
    display: flex;
    justify-content: center;
}

.investment-form {
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 1.5vw;
    margin-bottom: 1.5vw;
}

.form-input {
    flex: 1;
    padding: 0.8vw;
    font-size: 1.4vw;
    border: 1px solid #cccccc7e;
    border-radius: 0.3vw;
}


.dropdown-container {
    position: relative;
    flex: 1;
    max-width: 50vw;
}

.dropdown-container::after {
    content: '▼';
    position: absolute;
    right: 1vw;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1.2vw;
    color: #515050;
}

.form-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 2vw; 
    width: 100%;
}

.button-row {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    margin-top: 2vw;
}

.reset-button,
.buy-button {
    flex: 1;
    padding: 0.8vw;
    font-size: 1.5vw;
    color: #fff;
    background-color: #91b44b;
    border: none;
    border-radius: 0.3vw;
    cursor: pointer;
    font-weight: bold;
}

.reset-button:hover,
.buy-button:hover {
    background-color: #7ea03c;
}

input {
    color: #515050; 
}

input::placeholder {
    color: #515050;
    opacity: 1;     
}

select {
    color: #515050; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    font-size: 1.4vw;
}

select option {
    color: #515050; 
    font-size: 1.4vw;
}
