/* src/components/Dashboard.css */

@font-face {
  font-family: 'Baskerville';
  src: url('../../assets/fonts/LibreBaskerville-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: flex-start;
    padding: 20px;
    background-color: #fff;
    text-align: left;
    font-family: Arial, sans-serif;
  }
  
  /* greeting Section */
  .greeting-section {
    margin-bottom: 20px;
    animation: fadeInSlideUp 0.6s ease-out;
  }

  .Greeting-line {
    width: 89vw;           
    height: 0.17vw;           
    background-color: #9c9c9c; 
    margin-left: 4vw;
    margin-top: -1.7vw;
  }
  
  .greeting {
    font-size: 2vw;
    font-weight: bold;
    margin: 2vw 5vw;
  }
  
  .agenda {
    font-size: 1.6vw;
    margin-left: 5vw;
    margin-top: 0.7vw;
    font-weight: 100;
    color: #000000;
  }
  
  /* Button Section */
  .button-section {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 30px;
    margin-left:6vw;
    animation: fadeInSlideUp 0.6s ease-out;
  }
  
  .dashboard-button {
    width: 13.5vw;
    height: 2.7vw;
    font-size: 1.05vw;
    background-color: #e7e7e7;
    border: none;
    color: #c2b261;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0.2vw;
    font-weight: bold;
  }
  
  .dashboard-button:hover {
    background-color: rgba(209, 209, 209, 0.757)
  }
  
  /* portfolio Summary */
  .portfolio-summary {
    flex: 1;
    max-width: 45vw;
    max-height: 32vw;
    margin-left: 6vw;
    background-color: #e7e7e7;
    padding: 2vw;
    border: 1px solid #ddd;
    border-radius: 0.4vw;
    position: relative;
    z-index: 1;
    border: none;
    animation: fadeInSlideUp 0.6s ease-out;
  }
  
  .portfolio-summary h3 {
    font-size: 1.8vw;
    margin-bottom: 15px;
    color: #c2b261;
    margin-top: -0.5vw;
    font-weight: bold;
  }
  
  .summary-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    text-align: center;
    margin-left: 2vw;
  }
  
  .detail {
    text-align: left;
    font-size: 1rem;
  }
  
  .detail p {
    margin: 5px 0;
    font-size: 1.3vw;
  }

  .detail-line{
    width: 13vw;           
    height: 0.11vw;           
    background-color: #75a016; 
    margin-left: 0vw;
    margin-top: -0.4vw;
  }

  .vertical-line {
    position: absolute;
    top: 0;
    left: -2.7vw; 
    width: 0.17vw; 
    height: 41vw; 
    margin-top: -9.9vw;
    background-color: #e7e7e7; 
    
  }
  
  /* image Section */
  .dashboard-image{
    flex: 1;
    display: flex;
    right: 0;
    margin-top: 21.5vw;
    position: absolute;
    z-index: 1;
    animation: fadeInSlideUp 0.6s ease-out;
  }
  .dashboard-image img {
    max-width: 50vw;
    height: auto;
    transform: scaleX(-1);
  }
  