/* src/components/Dashboard.css */

@font-face {
  font-family: 'Baskerville';
  src: url('../../assets/fonts/LibreBaskerville-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.dashboard {
    padding: 20px;
    background-color: #fff;
    text-align: left;
    font-family: Arial, sans-serif;
  }
  
  /* greeting Section */
  .greeting-section {
    margin-bottom: 20px;
  }

  .Greeting-line {
    width: 92%;            /* Full width */
    height: 0.17vw;            /* Line thickness */
    background-color: #9c9c9c; /* Line color */
    margin-left: 4vw;
    margin-top: -1.7vw;
  }
  
  .greeting {
    font-size: 2vw;
    font-weight: bold;
    margin: 2vw 5vw;
  }
  
  .agenda {
    font-size: 1.6vw;
    margin-left: 5vw;
    margin-top: 0.7vw;
    font-weight: 100;
    color: #000000;
  }
  
  /* Button Section */
  .button-section {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 30px;
    margin-left:1vw;
  }
  
  .dashboard-button {
    width: 13.5vw;
    height: 2.7vw;
    font-size: 1.05vw;
    background-color: #e7e7e7;
    border: none;
    color: #c2b261;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0.2vw;
    font-weight: bold;
  }
  
  .dashboard-button:hover {
    background-color: rgba(209, 209, 209, 0.757)
  }
  
  /* portfolio Summary */
  .portfolio-summary {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
  }
  
  .portfolio-summary h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .summary-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .detail {
    text-align: left;
    font-size: 1rem;
  }
  
  .detail p {
    margin: 5px 0;
  }
  
  /* image Section */
  .dashboard-image img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  